<%= render @post %>

  <div class="btn-group col-sm-9 col-md-6 mb-4">

  <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-warning " %>
  <%= link_to "Back to posts", posts_path , class: "btn btn-primary "%>
  <%= button_to "Destroy post", @post, method: :delete,  class: "btn btn-danger"%>
  </div>


<div class="container">
  <%= render 'comments/form',
    post: @post,
    comment: @post.comments.build,
    submit_label: "Reply" %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', 
    post: @post, comment: comment %>
  <% end %>
</div>
</div>
</div>